@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>

            </p>
        </div>
    </section>
}
<div>
    @{Html.RenderPartial("_Inventory");}
</div>
<div>
    @{Html.RenderPartial("_LowSupplies");}
</div>
<div>
    @{Html.RenderPartial("_OrderedSupplies");}
</div>